@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    border: 3px solid var(--color-primary);
    font-family: 'Poppins',sans-serif;
    /* grid-template-columns: 100%; */
    grid-template-rows: 100svh 100svh 100svh 100svh 100svh 100svh;
    grid-template-areas: 
    "home"
    "about_us"
    "food_menu"
    "services"
    "target"
    "footer"
    ;
    overflow: hidden;
}
/************** PERSONALIZACION HOME ***********************/
.home  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
    flex-wrap: wrap;
}
.home_header{
  width: 100vw;
    height: var(--altura-header);
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}
.header_title{ /*Logo FOODS*/
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -3px;
    /* background-color: blue; */
}
.menu_hamburguesa{
    display: none;
}

.ul_menu_home{ /*ul    Lista  */
    width: 100%;
    background-color: var(--color-transparente);
    position: absolute;
    top: var(--altura-header);
    left: 0;
    height: 0; /*para "desaparecerlo" */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none; 
    align-items: center;
    list-style: none;
    transition: all .2s;
  }
.menu_hamburguesa:checked + .ul_menu_home{ /*Para aparecerlo al clickear*/
    height: calc(70svh - var(--altura-header));
}
.burger_icon{  /*icono del menu*/
    color: var(--color-primary);
    cursor: pointer;
}
.ul_menu_home .li_links{
}

.ul_menu_home li a{
    display:flex;
    text-decoration: none;
    color: var(--color-white);
    font-size: 3em;
    font-weight: 600;
    width: 14rem;
    justify-content: center;
}
.ul_menu_home li a:hover{
    border: 4px solid var(--color-contraste);
}

@media (min-width:945px){
  .navbar{
    padding: 1.5% 3%;
    display: flex;
    justify-content: space-between;
  }
  .header_title{
    padding-left: 2%;
    font-size: 3.5rem;
  }
  .label_hamburguesa{
    display: none;
  }
  .ul_menu_home{
    position: static; /*Esta opcion ignora las disposiciones top,left,rigt,etc*/
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    background: none;
    gap: 2rem;
    padding-right: 2%;
  }
  .li_links .link{
    font-size: 1.9rem;
    font-weight: 300;
    width: auto;
    width: 9rem;
  }

  .li_links .link:hover{
    border: 1px solid var(--color-contraste);
  }
}
/******************* Fin head ************************/

/***************** Home contenido ******************/
.home_container{
    width: 100vw;
    height: calc( 100svh - var(--altura-header));
    display: grid;
    grid-template:
      "h_left" 30%
      "h_right" auto/
      100%;
      flex-wrap: wrap;
}

.home_left{
    display: grid;
    grid-area: h_left;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
}
.home_left h1{
    display: flex;
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: 500;
    font-weight: bold;
    /* letter-spacing: 0.4rem; */
}
 .home_left p{
    font-size: 1.3rem;
    color: var(--color-white);
}

.home_left button{
    margin-top: 6%;
    width: 9rem;
    height: 2.5rem;
    background: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    border: none;
}
.home_right{
    grid-area: h_right; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_right img{
  height: 300px;
  width: 360px;
}

.container_home_button{
  width: 6rem;
}
@media (min-width:945px){
  .home_container{
    display: grid;
    width: 100vw;
    justify-content: center;
    grid-template:
      "h_left h_right" 100%/
      52% 48%;
  }
  .home_left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25%;
    padding-bottom: 14%;
  }
  .home_container .home_left h1{
    font-size: 7rem;
    color: var(--color-primary);
    font-weight: 500;
  }
  .home_left p{
      font-size: 2.6rem;
      color: var(--color-white);
  }
  .home_left button{
      margin-top: 5%;
      width: max-content;
      background: var(--color-primary);
      font-size: 1.8rem;
      block-size: initial;
      color: var(--color-white);
      border: none;
      padding: 0.8rem;
  }
  .home_right{
    display: flex;
    justify-content: flex-start;
  }
  .home_right img{
    height: auto;
    width: max(450px,70%);
    padding-bottom: 6%;
    /* scale: 1.6 2; */
  }
}

/********* FIN PERSONALIZACION HOME ***************************/
.about_us{
  grid-area: about_us;
}
.food_menu{
  grid-area: food_menu;
}
.services{
  grid-area: services;
}
.target{
  grid-area: target;
}
footer{
  grid-area: footer;
}
/* @media (min-width: 768px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 5fr;
    grid-template-areas: 
    "head_title"
    "home_left"
    "home_right";
  }
  .header_title{
    font-size: 3rem;
  }
} */