@import url(variables.css);


/*Disposicion general*/
*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: var(--color-secundary);
}
/**************************************/
/*Pagina Home*/
.home{
  height: 100svh;
  overflow-y: auto;
  display: grid;
  grid-template:
  "h_menubar h_container" 1fr/
     1fr         5fr
  ;
  justify-content: center;
  gap: 1rem;
  padding: 0 0 0 0;
}
/**** secciones principales ****/
.home_menubar {
  grid-area: h_menubar;
  border: 1px solid black;
  border-radius: 10px;
}
.home_container{
  grid-area: h_container;
  background-color: var(--color-soft);
  border: 1px solid black;
  border-radius: 10px;
}
/* Sub secciones*/

aside .home_link {
  grid-area: h_link;
  text-decoration: none;
  list-style: none;
}
aside .home_link a{
  color: var(--color-primary);
  text-decoration: none;
}
.home_footer {
  grid-area: h_footer;
}
