@font-face {
    font-family: 'Ojuju',sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

.Ojuju-debil {
  font-family: 'Ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.Ojuju-fuerte {
    font-family: 'Ojuju', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

:root{
    --color-primary:#ba3b46; /*letra blanca, le resto letra negra*/
    --color-white:#fff;
    --color-yellow:#ed9b40;
    --color-black:#000;
    --color-soft:#ffeedb;
    --color-secundary:#61c9a8;
    --font-Ojuju:'Ojuju',sans-serif;
}