<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <main class="home">
        <aside class="h_menubar">
            <h1>CampusShop</h1>
            <ul class="h_ul">
                <li class="h_link"><a href="../index.html">Todos los productos</a></li>
                <li class="h_link"><a href="abrigos.html">Abrigos</a></li>
                <li class="h_link"><a href="camisas.html">Camisetas</a></li>
                <li class="h_link"><a href="pantalones.html">Pantalones</a></li>
                <li class="h_link" id="carrito"><a href="carrito.html" id="carrito">Carrito (3)</a></li>
            </ul>
            <footer class="h_footer"><small>©2023 Camper</small></footer>
        </aside>
        <section class="h_container">
            <article>
                <h1>Abrigos</h1>
                <div class="gallery">
                    <div class="boxes">
                        <div class="box" id="abrigo1">
                            <img src="../storage/img/abrigo1.png">
                            <div class="info">
                                <p>Chaqueta Impermeable En Gabán Para Dama 'Azul'</p>
                                <b>$ 93.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div> 
                        <div class="box" id="abrigo2">
                            <img src="../storage/img/abrigo2.png">
                            <div class="info">
                                <p>Chaqueta Impermeable En Gabán Para Dama 'Negro'</p>
                                <b>$ 93.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="abrigo3">
                            <img src="../storage/img/abrigo3.png">
                            <div class="info">
                                <p>Chaqueta Impermeable En Gabán Para Dama 'Blanco'</p>
                                <b>$ 93.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="abrigo4">
                            <img src="../storage/img/abrigo4.png">
                            <div class="info">
                                <p>Chaqueta Hombre Cuero Sintético</p>
                                <b>$ 102.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="abrigo5">
                            <img src="../storage/img/abrigo5.png">
                            <div class="info">
                                <p>Calidad Chaqueta Hombre Algodon Colombiano Buso Ropa Buzos</p>
                                <b>$ 93.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>