<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <main class="home">
        <aside class="h_menubar">
            <h1>CampusShop</h1>
            <ul class="h_ul">
                <li class="h_link"><a href="../index.html">Todos los productos</a></li>
                <li class="h_link"><a href="abrigos.html">Abrigos</a></li>
                <li class="h_link"><a href="camisas.html">Camisetas</a></li>
                <li class="h_link"><a href="pantalones.html">Pantalones</a></li>
                <li class="h_link" id="carrito"><a href="carrito.html" id="carrito">Carrito (3)</a></li>
            </ul>
            <footer class="h_footer"><small>©2023 Camper</small></footer>
        </aside>
        <section class="h_container">
            <article>
                <h1>Camisetas</h1>
                <div class="gallery">
                    <div class="boxes">
                        <div class="box" id="camiseta1">
                            <img src="../storage/img/camiseta1.png">
                            <div class="info">
                                <p>Camiseta De Compresión En Licra Uv Slim.</p>
                                <b>$ 38.250</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="camiseta2">
                            <img src="../storage/img/camiseta2.png">
                            <div class="info">
                                <p>Camiseta Tipo Polo Color Dama Mujer</p>
                                <b>$ 26.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="camiseta3">
                            <img src="../storage/img/camiseta3.png">
                            <div class="info">
                                <p>Camiseta Deportiva, Crossfit, Gym, Ejercicios Al Aire Libre.</p>
                                <b>$ 32.850</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="camiseta4">
                            <img src="../storage/img/camiseta4.png">
                            <div class="info">
                                <p>Camisetas Bandas De Rock Metal Heavy Riffs.</p>
                                <b>$ 32.850</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                        <div class="box" id="camiseta5">
                            <img src="../storage/img/camiseta5.png">
                            <div class="info">
                                <p>Camiseta Anime Nezuko Kamado Kimetsu No Yaiba Demon Slayer</p>
                                <b>$ 29.900</b>
                                <button class="h_button">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>